header {
    margin: 4.5%;
}



.menu {
    display: flex;
    position: fixed;
    left: 20px;
    top: 20px;
    gap: 20px;
}



.botao {
    width: 75px;
    height: 75px;
    transition: 0.3s;
}

.botao:hover {
    transform: scale(1.2);
}


.botao img {
    width: 100%;
}